@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css);

body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

#menu_generale {
    margin: 0 auto;
    margin-top: 85px;
    margin: 55px 350px auto;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    border-radius: 15px;
    padding: 75px;
}

#fascia_menu {
    display: flex;
    justify-content: center;
}


h1 {
    text-align: center;
    color: #00DD00;
    font-size: 35px;
}

#barra_menu,
.menu_1 {
    margin: 20px 100px auto;

}

.contenuto {
    background-color: #00DD00;
    text-align: center;
}

a {
    text-decoration: none;
    align-items: center;
    color: black;
    line-height: 50px;
    font-size: 15px;
}

.menu {
    padding: 2px;
    border: 1px solid black;
    background-color: white;

}

.scritte,
.indirizzo,
.stato {
    display: flex;
    padding: 2px;
    color: white;
    align-items: center;
    position: relative;
}

.scritta {
    padding: 4px;
}

h2 {
    font-size: 20px;
}

.stato::after {
    content: '';
    height: 30px;
    border: 1px solid black;
    position: absolute;
    top: 25px;
    border-radius: 5px;
}

.stato {
    margin-bottom: 60px;
}

#fede::after {
    width: 130px;
    background-color: #BE4141;
}

#mike::after {
    width: 600px;
    background-color: #00DD00;
}

#gino::after {
    width: 350px;
    background-color: #F5B453;
}